:root {
  --main-color: #e0ca02;
  --main-color-light: #d6cc5c;
  --main-color-dark: #a89700;
  --secondary-color: #00ccaa;
  --secondary-color-light: #68e6d1;
  --secondary-color-dark: #008670;
}

a.active {
  border-bottom: 2px solid black;
}

@media screen and (max-width: 575px) {
  html {
    /* Reducing base font size will reduce all rem sizes */
    font-size: 13px;
  }
}

@media screen and (max-width: 400px) {
  html {
    /* Reducing base font size will reduce all rem sizes */
    font-size: 12px;
  }
}

/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
