.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 0.2em 0.5em 0 lightgray;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  background-color: white;
}

.brand {
  display: flex;
  align-items: center;
}

.brand .logo {
  width: 7vh;
  margin-right: 1em;
}

.brand .name {
  font-size: 2rem;
  font-weight: bold;
}

.navlinks {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  gap: 1em;
  list-style: none;
}
