.podium {
  background-color: rgb(238, 238, 238);
}

.podiumList {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 2;
  padding: 5rem 2rem;
  margin: 0;
  width: 100%;
  height: 100%;
}

.podiumList li {
  list-style: none;
  min-height: 3rem;
  text-align: center;
}

.podiumList li[data-grade]::after {
  position: relative;
  content: attr(data-grade);
  font-weight: bold;
  left: 1rem;
}

.podiumList li[data-place='1'] {
  grid-column: 2;
}

.podiumList li[data-place='2'] {
  grid-column: 1;
}

.podiumList li[data-place='3'] {
  grid-column: 3;
}

.podiumList li[data-place]::before {
  position: relative;
  content: attr(data-place);
  left: -1rem;
}
